<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yidiandian.dao.DynamicsDao">

    <select id="selectByParam" parameterType="map" resultType="java.util.Map">
        select * from ${tableName} where 1 = 1
        <if test="columnName != null and columnName != ''">
            and ${columnName} = #{columnParams}
        </if>
    </select>

 
</mapper>